@media (max-width: 767px) {
    
.head {
    font-size: 5rem;
  }
  
  .subhead {
    color: #fff;
    font-size: 1.5rem;
  }

  body {
    background-size: 100%;
    background-position-y: 78%;
    }
}