html {
  height: 100%;
}

* {  
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("../img/bg.gif");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 40%;
    background-position-y: 85%;
    background-color: rgb(24, 24,24);
    box-sizing: border-box;
}

.main {
  height: 100%;
  background-color: rgba(9, 9, 75, 0.4);  
}

.head {
  color: aliceblue;
  font-size: 7rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.subhead {
  color: #fff;
  font-size: 2.3rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.footer {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  position: fixed;
	padding-bottom: 10px;
	bottom: 0px;
  width: 100%;
}

.footer a {
  text-decoration: none;
}